altgraph==0.17
appdirs==1.4.4
arcade==2.5.6
asgiref==3.3.4
astroid==2.5.2
attrs==21.2.0
auto-py-to-exe==2.8.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
black==21.5b1
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.10
cryptography==3.4.7
cycler==0.10.0
decorator==5.0.7
distlib==0.3.2
Django==3.2
docutils==0.17.1
easygui==0.98.2
Eel==0.12.4
filelock==3.0.12
flake8==3.9.1
Flask==1.1.2
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
gTTS==2.2.2
idna==2.10
install==1.3.4
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.4.1
mccabe==0.6.1
mypy-extensions==0.4.3
mysql-connector-python==8.0.24
nltk==3.6.2
numpy==1.20.1
packaging==20.9
parso==0.8.2
pathspec==0.8.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.2.0
Pillow-PIL==0.1.dev0
Pint==0.17
playsound==1.2.2
plyer==2.0.0
progress==1.5
prompt-toolkit==3.0.18
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pygame==2.0.1
pyglet==1.5.16
Pygments==2.8.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.7.4
pymongo==3.11.4
pymunk==6.0.0
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
python-dateutil==2.7.5
pytiled-parser==0.9.4a3
pyttsx3==2.90
pytube==10.8.1
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==3.13
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.2.19
sqlparse==0.4.1
textblob==0.15.3
tkcalendar==1.6.1
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
urllib3==1.26.4
virtualenv==20.4.7
wcwidth==0.2.5
Werkzeug==1.0.1
whichcraft==0.6.1
wikipedia==1.4.0
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.3.0
